.footer {
    background: #000;
    color: white;
    padding: 7px;
    font-size: 25px;
    font-family: OstrichSans-Black;
    margin: 0;
    line-height: 100%; 
}

.logo {
    color: aliceblue; 
}

.logoC {
    position: relative;
    display: inline-block;
    border-bottom: 1px aliceblue solid;
    bottom: 3px;
    padding-bottom: 0px;
}

a {
    color: white;
}

a:hover {
    text-decoration: none;
    color: rgb(226, 222, 222);
}